<template>
      <v-footer dark inset class="app--footer">
        <v-container>
        <v-row>
            <v-col lg="4" md="6" cols="12" class="text-center">
                   <img src="../../assets/Hulk-icon.png" alt="" height="100px"> 
                    <img src="../../assets/Giant-Man-icon.png" alt="" height="100px"> 
                    <img src="../../assets/Iron-Man-icon.png" alt="" height="100px"> 
            </v-col>
            <v-col lg="4" md="6" cols="12">
                <v-card dark class="white--text" flat>
                   <v-card-title class="text-center">Our Business</v-card-title>
                   <v-divider></v-divider>
                   <v-list dense>
                       <v-list-item-group v-for="item in items" :key="item.title">
                           <v-list-item :to="item.to">
                               <v-list-item-content >
                                   <v-list-item-title v-text="item.title"></v-list-item-title>
                               </v-list-item-content>
                           </v-list-item>
                       </v-list-item-group>
                   </v-list>
               </v-card>
            </v-col>
            <v-col lg="4" md="6" cols="12">
                <v-card>
                    <v-card-title>Subscribe</v-card-title>
                    <v-divider></v-divider>
                    <v-card-text>Be the first to get weekly updates and special offers straight to your inbox.</v-card-text>
                    <v-form class="pa-4" @click.prevent="subscribe">
                        <v-text-field label="Email" v-model="email" required="@" outlined></v-text-field>
                        <v-btn color="blue" text @click="subscribe">
                            Subscribe
                            <v-icon right color="blue">mdi-send</v-icon>
                        </v-btn>
                        <p v-if="status">Thank you for subscribing</p>
                    </v-form>
                </v-card>
            </v-col>
        </v-row>
        <v-divider color="grey"></v-divider>
        
            <v-row>
                <v-col cols="12" lg="10"> 
                    <span class="caption">Insuarance &copy; {{ new Date().getFullYear() }}</span>
                </v-col>
            </v-row>
        
       </v-container>
      </v-footer>
  
</template>

<script>
export default {
    data(){
        return{
            status: false,
            email:'',
            status1:false,
             items:[
                    { title: 'Marine Insuarance',to:'/business' },
                    { title: 'Motor Insuarance',to:'/business' },
                    { title: 'Aviation Insuarance',to:'/business' },
                    { title: 'Workmen Compensation',to:'/business' },
                    { title: 'Fire Insuarace',to:'/business' }, 
                ]
        }
    },
    methods:{
        validadte(){
            if(this.email == ''){
                return false
            }else{
                return true
            }
        },
        subscribe(){
            let valid = this.validate();
            if (valid){
                this.status = true
            }else{
                this.status1 = true 
            }
                
        }
    }

}
</script>

<style>

</style>