<template>
  <v-container fluid grid-list-lg class="mx-0 pa-0">
      <div class="nav">
          <v-system-bar height="65px" text class="pa-0 ml-0">
              <v-btn icon>
                  <v-icon @click="sidebar = !sidebar">mdi-menu</v-icon>
              </v-btn>
              <v-card-text class="title"> Insuarance Company</v-card-text>
              <v-spacer></v-spacer>
          </v-system-bar>
          
          <v-navigation-drawer v-model="sidebar" app disable-resize-watcher>
            <v-list>
              <v-list-item>
                <v-list-item-title class="subtitle-1 font-weight-thin"> Insuarance Company </v-list-item-title>
                <v-list-item-icon>
                  <v-icon @click="sidebar = !sidebar">mdi-chevron-left</v-icon>
                </v-list-item-icon>
              </v-list-item>
              <v-divider></v-divider>
              <v-list-item-group v-for="(item, index) in navItems" :key="index">
                <v-list-item :to="item.to" exact> 
                  <v-list-item-icon>
                  <v-icon>{{item.icon}}</v-icon>
                  </v-list-item-icon>
                  <v-list-item-content>
                  <v-list-item-title>{{item.title}}</v-list-item-title>
                  </v-list-item-content>
                </v-list-item>
              </v-list-item-group>
              <v-list-item>
                  <v-list-item-title @click="ourBusiness">
                      <v-list-item-icon>
                          <v-icon>mdi-chevron-down</v-icon>
                      </v-list-item-icon>
                      OurBusiness
                  </v-list-item-title>
              </v-list-item>
              <v-list-item router-link to="/services">
                  <v-list-item-title>
                      <v-list-item-icon>
                          <v-icon>mdi-chevron-down</v-icon>
                      </v-list-item-icon>
                      OurServices
                  </v-list-item-title>
              </v-list-item>
            </v-list>
                
        </v-navigation-drawer>
        <v-navigation-drawer v-model="businessSidebar" app disable-resize-watcher>
                    <v-list>
                        <v-list-item>
                            <v-list-item-title class="subtitle-1 font-weight-thin">Our Business </v-list-item-title>
                            <v-list-item-icon>
                            <v-icon @click="ourBusinessOff">mdi-chevron-left</v-icon>
                            </v-list-item-icon>
                        </v-list-item>
                        <v-divider></v-divider>
                        <v-list-item-group v-for="(item, index) in items" :key="index">
                            <v-list-item :to="item.to" exact> 
                            <v-list-item-content>
                            <v-list-item-title>{{item.title}}</v-list-item-title>
                            </v-list-item-content>
                            </v-list-item>
                        </v-list-item-group>
                    </v-list>
                </v-navigation-drawer>
      </div>
  </v-container>
</template>

<script>
export default {
    data(){
        return{
            sidebar:false,
            businessSidebar:false,
            items: [
                    { title: 'Marine Insuarance',to:'/marine-insuarance' },
                    { title: 'Motor Insuarance',to:'/motor-insuarance' },
                    { title: 'Aviation Insuarance',to:'/aviation-insuarance' },
                    { title: 'Workmen Compensation',to:'/workmen-compensation' },
                    { title: 'Fire Insuarace',to:'/fire-insuarance' },
                    { title: 'Political Violence Insuarance',to:'/political-insuarance' },
                    { title: 'Medical Insuarance',to:'/medical-insuarance' },
                    { title: 'Travel Insuarance',to:'/travel-insuarance' },
                    { title: 'Liability' ,to:'/liability'},
                ],
            appBarItems:[
                {icon:'mdi-home', content:'Home',to:'/'},
            ],
            appBarItems1:[
                {icon:'mdi-magnify', content:'',to:'/'}
            ],
            navItems:[
                {icon:'mdi-home', title:'Home',to:'/'},
                {icon:'mdi-newspaper', title:'Faqs',to:'/news'},
                {icon:'mdi-account-search', title:'About Us',to:'/about-us'},
            ],
            serviceItems:[
                { title:'Underwriting Services',to:'/underwriting'},
                { title:'Claims Administration',to:'/claims'},
                {title:'Training and Advisory',to:'/training'},
            ],
            
            
        }
    },
    methods:{
        ourBusiness(){
            this.$router.push('/business')
        },
        ourBusinessOff(){
            this.businessSidebar= false;
        }
    }
}
</script>

<style scoped>
.links{
    text-decoration: none;
};
.linksbg:hover{
    background-color: blue;
}
</style>