<template>
  <div>
      <main-nav></main-nav>
      <v-row>
        <v-col cols="12" lg="4">
               <v-card outlined height="500px" width="auto" class="ma-4">
                   <v-card-text class="title font-weight-bold primary">GET YOUR INSUARANCE COVER</v-card-text>
                   <v-card-text class="font-weight-thin">We'd be happy to answer your questions. Please leave us your contacts & we'll get in touch within 24 hours</v-card-text>
                   <v-form class="pa-2">
                       <v-text-field label="*Full Name" v-model="name" outlined></v-text-field>
                       <v-text-field label="*phone" v-model="phone" outlined></v-text-field>
                       <v-text-field label="*Email" v-model="email" outlined></v-text-field>
                       <v-btn block color="primary" @click="submit">SUBMIT</v-btn>
                       <span class="text-center">
                         <p v-if="status">Submitted successfully, </p>
                         <p v-if="status1"> All Fields are required</p>
                       </span>
                   </v-form>
               </v-card>
           </v-col>
      </v-row>  
      <footer-nav></footer-nav>
  </div>
</template>

<script>
export default {
    data(){
        return{
            name:'',
            phone:'',
            email:'',
             status: false,
        status1: false
        }
    },
    methods:{
         validate(){
        if(this.name == '' || this.phone == '' || this.email == '' || this.message == '' ){
          return false
        }else{
          return true
        }
      },
      submit(){
        let valid = this.validate();
        if (valid){
          this.name = '';
          this.phone = '';
          this.email = '';
          this.status = true
        }else{
          this.status1 = true
        }
      }
    }

}
</script>

<style>

</style>