<template>
  <div>
     <main-nav></main-nav>
     <v-card-text class="text-center font-weight-bold title">Insuarance services</v-card-text>
    <v-data-table
    :headers="headers"
    :items="desserts"
    :items-per-page="5"
    item-key="name"
    class="elevation-1"
    :footer-props="{
      showFirstLastPage: true,
      firstIcon: 'mdi-arrow-collapse-left',
      lastIcon: 'mdi-arrow-collapse-right',
      prevIcon: 'mdi-minus',
      nextIcon: 'mdi-plus'
    }"
  ></v-data-table>
  <footer-nav></footer-nav>
  </div>
</template>
<script>
  export default {
    data () {
      return {
        headers: [
          {
            text: 'Insuarance ($ P.M)',
            align: 'start',
            value: 'name',
          },
          { text: 'Amount', value: 'category' },
        ],
        desserts: [
          {
            name: 'Claims',
            category: '$3000',
          },
          {
            name: 'Training',
            category: '$3000',
          },
          {
            name: 'Underwriting',
            category: '$2000',
          }
        ],
      }
    },
  }
</script>