<template>
  <div>
      
      <main-nav></main-nav>
      <v-row>
          <v-col cols="12" lg="12">
              <v-card flat>
                  <v-card-title class="font-weight-bold blue--text">About Developer</v-card-title>
                  <v-card-text>
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit ipsum eum quo aliquam rerum, necessitatibus repudiandae eaque odio dolores beatae mollitia praesentium assumenda exercitationem voluptatibus doloribus, reiciendis repellat incidunt magnam?
                  </v-card-text>
              </v-card>
          </v-col>
      </v-row>
      
      <v-row>
          <v-col cols="12" lg="6">
              <v-card flat>
                  <v-card-title class="font-weight-bold blue--text"> My Vision</v-card-title>
                  <v-card-text>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat dolor, in cum nesciunt libero aperiam, numquam provident quo, unde nostrum exercitationem ea molestias atque reprehenderit enim consequuntur. Quia, amet illo!</v-card-text>
              </v-card>
          </v-col>
         
      </v-row>

      
  
  <footer-nav></footer-nav>
  </div>
</template>

<script>
export default {

}
</script>

<style>

</style>