<template>
  <div>
      
      <main-nav></main-nav>
      <v-row>
          <v-col cols="12" lg="12">
              <v-card flat>
                  <v-card-title class="font-weight-bold blue--text">What is insuarance
                    <img src="../../assets/icons8-question-mark-64.png" alt="" height="30px"> 
                  </v-card-title>
                  <v-card-text>
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Velit ipsum eum quo aliquam rerum, necessitatibus repudiandae eaque odio dolores beatae mollitia praesentium assumenda exercitationem voluptatibus doloribus, reiciendis repellat incidunt magnam?
                  </v-card-text>
              </v-card>
          </v-col>
      </v-row>
      
      <v-row>
          <v-col cols="12" lg="6">
              <v-card flat>
                  <v-card-title class="font-weight-bold blue--text">Need for Insuarance?
                    <img src="../../assets/question.png" alt="" height="30px"> 
                  </v-card-title>
                  <v-card-text>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat dolor, in cum nesciunt libero aperiam, numquam provident quo, unde nostrum exercitationem ea molestias atque reprehenderit enim consequuntur. Quia, amet illo!</v-card-text>
              </v-card>
          </v-col>
         
      </v-row>
       <v-row>
          <v-col cols="12" lg="6">
              <v-card flat>
                  <v-card-title class="font-weight-bold blue--text">What is Insuarance Fraud?
                    <img src="../../assets/icons8-fraud-16.png" alt="" height="30px"> 
                  </v-card-title>
                  <v-card-text>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat dolor, in cum nesciunt libero aperiam, numquam provident quo, unde nostrum exercitationem ea molestias atque reprehenderit enim consequuntur. Quia, amet illo!</v-card-text>
              </v-card>
          </v-col>
      </v-row>
       <v-row>
          <v-col cols="12" lg="6">
              <v-card flat>
                  <v-card-title class="font-weight-bold blue--text">Penalties for Insuarance Fraud
                    <img src="../../assets/icons8-refund-16.png" alt="" height="20px"> 
                  </v-card-title>
                  <v-card-text>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat dolor, in cum nesciunt libero aperiam, numquam provident quo, unde nostrum exercitationem ea molestias atque reprehenderit enim consequuntur. Quia, amet illo!</v-card-text>
              </v-card>
          </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" lg="4">
               <v-card outlined height="600px" width="auto" class="ma-4">
                   <v-card-text class="title font-weight-bold primary">Any Question?</v-card-text>
                   <v-card-text class="font-weight-thin">We'd be happy to answer your questions. Please leave us your contacts & we'll get in touch within 24 hours</v-card-text>
                   <v-form class="pa-2">
                       <v-text-field label="*Full Name" v-model="name" outlined></v-text-field>
                       <v-text-field label="*phone" v-model="phone" outlined></v-text-field>
                       <v-text-field label="*Email" v-model="email" outlined></v-text-field>
                       <v-textarea label="Any Question?" v-model="message" outlined></v-textarea>
                       <v-btn block color="primary" @click="submit">SUBMIT</v-btn>
                       <span class="text-center">
                         <p v-if="status">Thankyou, we will get back to you </p>
                         <p v-if="status1"> All Fields are required</p>
                       </span>
                   </v-form>
               </v-card>
           </v-col>
      </v-row>  
  <footer-nav></footer-nav>
  </div>
</template>

<script>
export default {
    data(){
      return{
        name:'',
        phone:'',
        email:'',
        message:'',
        status: false,
        status1: false
      }
    },
    methods:{
      validate(){
        if(this.name == '' || this.phone == '' || this.email == '' || this.message == '' ){
          return false
        }else{
          return true
        }
      },
      submit(){
        let valid = this.validate();
        if (valid){
          this.name = '';
          this.phone = '';
          this.email = '';
          this.status = true
        }else{
          this.status1 = true
        }
      }
    }
}
</script>

<style>

</style>