<template>
  <v-container fluid grid-list-lg class="mx-0 pa-0">
      <main-nav></main-nav>
      <v-card class="text-center">
        <v-img  src="https://cdn.vuetifyjs.com/images/cards/docks.jpg" height="450px">
            <v-card-text class="white--text font-italic title pt-8">Insuarance Company</v-card-text>
            <v-card-text class="white--text headline font-weight-black pa-6">YOUR TRUSTED PARTNER, ENJOY THE DIFFERENCE</v-card-text>
        </v-img>
      </v-card>
      <v-card  flat>
        <v-card-text class="pa-4 font-weight-thin headline blue--text">
          Featured Products
        </v-card-text>
      </v-card>
        <v-divider width="300px" align-center></v-divider>
      <v-layout row wrap class="ma-2">
        <v-flex md3 sm6 xs12 v-for="(stat,index) in stats.monthlyStats" v-bind:key="index">
            <v-hover v-slot:default="{ hover }" open-delay="200">
            <v-card class="grey lighten-3" dark height="400px" :elevation="hover ? 16 : 2">
            <v-card-text class="text-center">
               <v-icon color="blue darken-4" fab x-large dark>{{stat.icon}}</v-icon>
            </v-card-text>
            <v-container fluid grid-list-sm dark>
                <v-layout class="mt-0 mb-0 mx-1" row wrap>
                
                <v-flex sm9 xs12>
                    <v-layout class="mt-0 mb-0 pa-0" row wrap>
                    <v-flex d-flex xs12>
                        <div class="black--text title" small>{{stat.title}}</div>
                    </v-flex>
                    <v-flex d-flex xs12>
                        <div class="black--text">{{stat.data}}</div>
                    </v-flex>
                    <v-btn color="blue darken-4" router-link :to="stat.action.link" text>{{ stat.action.label }}</v-btn>
                    </v-layout>
                </v-flex>
                </v-layout>
            </v-container>
            </v-card>
            </v-hover>
        </v-flex>
      </v-layout>
      <v-card height="300px" color="blue lighten-1" class="text-center">
          <v-row>
              <v-col cols="12" lg="6" md="6" class="pa-4">
                  <v-card-text class="white--text font-weight-bold display-1">WE ARE A PHONE CALL AWAY! </v-card-text>
                  <v-card-text class="white--text font-weight-light">Talk to our dedicated customer service team anytime. We are available 24/7 to cater to all your needs.</v-card-text>
                  <v-spacer></v-spacer>
                   <v-btn color="blue darken-4" class="pa-2" absolute dark  fab center>
                    <a :href="`tel:+${ mobile }`"><v-icon x-large color="white">mdi-phone-in-talk</v-icon> </a>
                    </v-btn>
              </v-col>
              <v-col cols="12" lg="4" md="4">
                
              </v-col>
          </v-row>
      </v-card>
      <v-row>
         <v-col cols="12" lg="6" sm="4">
           <v-card height="350px" class="text-center" flat>
             <v-card-text class="subtitle-1 font-italic">Apply for Insuarance online Now!! </v-card-text>
                  <v-card-text class=" font-weight-bold display-1">Choose your desired insurance from your preferred insurer faster.</v-card-text>
                  <v-btn color="blue darken-4" class="white--text"  center router-link to="/apply">
                    Apply Now
                  </v-btn>
           </v-card>
         </v-col>
      </v-row>
      <footer-nav></footer-nav>
  </v-container>
</template>

<script>
export default {
    data(){
        return{
          mobile:'0776381635',
            stats: {
          monthlyStats: [
            {
              bgColor: "grey lighten-3",
              icon: "mdi-car",
              title: "Motor Vehicle Insuarance",
              data: "Motor insurance is insurance that provides accident cover for individual owners of the vehicle while driving and also for passengers and third party legal liability....",
              action: {
                label: "More Info",
                link: "business"
              }
            },
            {
              bgColor: "grey lighten-3",
              icon: "mdi-swim",
              title: "Marine Insuarance",
              data: "Marine Insurance is a contract under which the insurer undertakes to indemnify the insured against marine losses or incidental to marine adventures....",
              action: {
                label: "More Info",
                link: "business"
              }
            },
            {
              bgColor: "grey lighten-3",
              icon: "mdi-cash-usd",
              title: "Workmen Compensation",
              data: "This policy protects employers against liabilities that would arise due to mistakes or negligence on their part towards employees...",
              action: {
                label: "More Info",
                link: "business"
              }
            },
            {
              bgColor: "grey lighten-3",
              icon: "mdi-airplane",
              title: "Aviation Insuarance",
              data: "Aviation insurance is insurance coverage geared specifically to the operation of aircraft and the risks involved in aviation....",
              action: {
                label: "More Info",
                link: "business"
              }
            }
          ]
        }
            
        }
    },
    methods:{
      
    }
}
</script>

<style scoped>
.links{
    text-decoration: none;
};
.linksbg:hover{
    background-color: blue;
}
</style>